{% load cms_tags menu_tags sekizai_tags static %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}Radford Wallis{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
        <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block css %}{% endblock css %}
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}

        {% show_menu 1 1 100 100 'nav.html' %}
        {% block content %}{% endblock content %}

        {% block footer %}
        {% static_placeholder 'footer' %}
        {% endblock footer %}

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>
        {% render_block "js" %}
        {% block js %}{% endblock js %}
    </body>
</html>
