{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% placeholder "carousel" %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block js %}
<script>
$(document).ready(function () {
    var setHeight = function() {

        totalHeight = $(window).height();
        navHeight = $('.navbar').outerHeight();
        console.log(totalHeight, navHeight)
        $('.carousel').height(totalHeight - navHeight);
        $('.carousel-item').height(totalHeight - navHeight);
    }

    setHeight();

    $(window).resize(function() {
      setHeight();
    });
})
</script>
{% endblock %}