{% load sekizai_tags %}

<div class="filter_dropdown clickable px-2">
    <span id="filter_type_{{ type }}">All {{ type }}</span>
    <!-- Keep span seperate or removes arrow on click -->
    <!-- <i class="material-icons align-middle">keyboard_arrow_down</i> -->
    <i class="fa fa-angle-down"></i>
    <div class="filter-dropdown-overlay">
        <ul class="dropdown-filter-list">
            <li id="display-all {{ type }}" class="fli">Clear</li>
            {% for option in filter_list %}
                <li id="{{ option.slug }}" class="fli">{{ option.name }}
            {% endfor %}
        </ul>
    </div>
</div>

{% addtoblock "js" %}
<script>
var currentDis = '.display-all';
var currentInd = '.display-all';

$(document).ready(function () {

    $(".filter_dropdown").on("mouseenter", function() {
        $(this).addClass("hovered");
        $('main').addClass("select-hovered");
    }).on("mouseleave", function() {
        $(this).removeClass("hovered");
        $('main').removeClass("select-hovered");
    })

    var setWidths = function() {

        // Set up the filter overlay to full width and offset
        $('.filter-dropdown-overlay').each(function(index) {
            newWidth = $(this).closest('.filter_dropdown').width() + $(this).siblings('span').offset().left + $(this).siblings('span').position().left;
            if (newWidth > $(this).innerWidth()) {
                $(this).innerWidth(newWidth);
            }
            $(this).css({'padding-left': $(this).siblings('span').offset().left + $(this).siblings('span').position().left, 'left' : -$(this).siblings('span').offset().left});
            // $(this).height($('html').height() - $('.navbar').outerHeight() - $('.filter_dropdown').outerHeight() + 10)
            // $(this).width($(window).width() + $(this).siblings('span').offset().left)
        })
    }

    $(window).resize(function() {
      setWidths();
    });

    setWidths();

    $('li.fli').click(function() {
        $('.display-all').hide()

        if (this.id.startsWith('discipline')) {
            var theId = '.' + this.id;
            currentDis = theId;
            $('#filter_type_Disciplines').text($(this).text())
        } else if (this.id.startsWith('industry')) {
            var theId = '.' + this.id;
            currentInd = theId;
            $('#filter_type_Industries').text($(this).text())
        } else if (this.id.startsWith('display-all')) {
            var allIds = this.id.split(' ')
            var theType = allIds[allIds.length-1]
            if (theType == 'Disciplines') {
                var theId = '.' + currentInd;
                currentDis = '.display-all';
                $('#filter_type_Disciplines').text('All Disciplines');
            } else if (theType == 'Industries') {
                var theId = '.' + currentDis;
                currentInd = '.display-all';
                $('#filter_type_Industries').text('All Industries');
            }
        }

        if (currentInd === currentDis) {
            $(currentInd).show();
        } else {
            $(currentDis + currentInd).show();
        }

        $('a.project-link').each(function(a) {
            link = this.id + '?dis=' + currentDis + '&ind=' + currentInd;
            $(this).attr('href', link);
        })

        setWidths();

        $(this).closest('filter_dropdown').removeClass("hovered");
        $('main').removeClass("select-hovered");

    })
})
</script>
{% endaddtoblock %}