body {
    background-color: #fff;
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

img {
    max-width: 100%
}

strong {
    font-weight: 700;
}

/* Fix offset from navbar inpage scrolling */
:target:before {
    content:"";
    display:block;
    height:60px; /* fixed header height*/
    margin:-60px 0 0; /* negative fixed header height */
}

a:hover {
    text-decoration: none;
}
.no-gutters {
    padding-right: 0;
    padding-left: 0;
}
/*
.no-gutters  > .col, > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}*/

div[class*="col-"] {
    padding: 0px;
}

div.row {
    margin: 0;
}

/* Icons */

.material-icons {
    vertical-align: top;
}

/* Text */

.clickable {
    cursor: pointer;
}

.grey, .filter-grey, .grey:focus, .grey:visited, .greyed {
    color: #A9A9A9;
    text-decoration: none;
}

.grey:hover {
    color: #000000;
}

footer .grey:hover {
    color: #ffffff;
}

hr.dark {
    border-top: 1px solid #8c8b8b;
}

hr.thick {
    border-top: 2px solid #A9A9A9;
    opacity: 0.5;
}

/* Inputs */

.black {
    background-color: black;
    color: #A9A9A9;
    border-color: #A9A9A9;
    border-right: none;
    border-radius: .25rem 0 0 .25rem;
    margin-right: 0;
    font-style: italic;
}

.black:focus {
    background-color: black;
    border-color: #A9A9A9;
}

.white {
    background-color: #fff;
    color: #A9A9A9;
    border-color: #A9A9A9;
    border-right: none;
    border-radius: .25rem 0 0 .25rem;
    margin-right: 0;
    font-style: italic;
}

/* Buttons */

button.blended-black {
    color: #A9A9A9;
    background-color: black;
    border-color: #A9A9A9;
    border-radius: 0 .25rem .25rem 0;
    border-left: none;
    margin-left: -2px;
    padding: 8px 2px;
    text-align: right;
}

button.blended-black:hover {
    background-color: #A9A9A9;
    color: black;
}

button.blended-black:active {
    color: #A9A9A9;
}

button.blended-white {
    color: #A9A9A9;
    background-color: #fff;
    border-color: #A9A9A9;
    border-radius: 0 .25rem .25rem 0;
    border-left: none;
    margin-left: -2px;
    text-align: right;
}

button.blended-white:hover {
    background-color: #A9A9A9;
    color: #fff;
}

button.blended-white:active {
    color: #A9A9A9;
}

/* Nav Bar */

.navbar {
    background-color: black;
    color: white;
    font-weight: lighter;
    /*padding: 1rem 0 0 0;*/
}

.navbar-nav {
    float: right;
    /*margin-right: 1rem;*/
}

.navbar-brand {
    font-weight: bolder;
    /*padding-left: 2rem;*/
}

.nav-item a:hover {
    /*text-decoration: underline;*/
}

.nav-item {
    padding-left: 1rem;
    /*padding-right: 0.5rem;*/
}

li.active a {
    color: white;
    /*text-decoration: underline;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* Carousel */

.carousel {
    max-height: 94vh;
}

.carousel-item {
    max-height: 94vh;
}

.carousel-control-prev, .carousel-control-next {
    width:7% ;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    opacity: 1;
}

.carousel i {
    font-weight: lighter;
    font-size: 5rem;
}

.carousel-item img {
    object-fit: cover;
}

/* Targets not full width Carousels */
.row .carousel-item img {
    object-fit: scale-down;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  max-width: 10px;
  height: 10px;
  margin: 4px;
  text-indent: -999px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 4px;
  background-color: #fff;
}

/* Work Page */
/*.filter_dropdown {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.filter_dropdown i {
    font-size: 30px;
    vertical-align: top;
}

.filter-dropdown-overlay {
    position: absolute;
    background-color: #ffffff;
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.2s ease;
}

.filter-dropdown-overlay li:hover {
    color: black;
}

.filter_dropdown.hovered .filter-dropdown-overlay {
    opacity: 0;
    z-index: 10;
}

.dropdown-filter-list {
    list-style: none;
    padding-left: 0;
}*/

    /* Dropdowns */
.filter_dropdown {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.filter_dropdown span:hover {
    color: black;
}

.filter_dropdown i {
    font-size: 30px;
    vertical-align: top;
}

.filter-dropdown-overlay {
    position: absolute;
    /*background-color: #ffffff;*/
    opacity: 0;
    position: absolute;
    left: 0;
    /*width: 100%;
    height: 100%;*/
    z-index: -1;
    transition: 0.2s ease;
}

.filter-dropdown-overlay ul, .filter-dropdown-overlay li {
    width: 100%;
}

.filter-dropdown-overlay li:hover {
    color: black;
}

.filter_dropdown.hovered .filter-dropdown-overlay {
    opacity: 1;
    z-index: 10;
}

.dropdown-filter-list {
    list-style: none;
    padding-left: 0;
}

main {
    position: relative;
    background: inherit;
    transition: opacity .3s ease-out .25s;
    opacity: 1;
}

main:before {
    transition: all .3s ease-out;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

main.select-hovered:before {
    opacity: 1;
    visibility: visible;
}

    /* Work Images */

.img-con {
    position: relative;
    width: 100%;
    padding: 5px;
    /*padding-bottom: 5px;*/
}

.overlay {
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #000000;
}

.img-con:hover .overlay {
    opacity: 0.5;
}

.title {
    color: white;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 1rem;
    left: 1rem;
    opacity: 0;
    transition: .2s ease;
    line-height: 1.1;
}

.img-con:hover .title {
    opacity: 1;
    color: white;
}

/* Work Detail */

.quote {
    font-size: 35px;
}

/* Linked videos */

.vid-con {
    position: relative;
    padding: 5px;
}

.section-title {
    color: #A9A9A9;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 1rem;
    left: 1rem;
    line-height: 1.1;
}

/* Contact */

#map {
    /*height: 500px;*/
    /*margin: 1rem;*/
}

.award {
    border-bottom: 1px solid #A9A9A9;
}

/* Address */

/*address .normal {
    color: #ffffff;
}*/

address p {
    margin-bottom: 0;
}

/* Email Form */

.email-form {
    padding-left: 5px;
}

/* Footer */

#footer {
  /*padding: 1rem;*/
  background-color: #000000;
  color: #fff;
  position: relative;
  margin-top: 0px; /* negative value of footer height */
  /*height: 200px;*/
  clear: both;
}

.social-links {
    list-style: none;
    padding-left: 0;
}

/*.social-icon {
  width: 1.5rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
}*/

/*MEDIA QUERIES*/

@media (min-width: 2000px) {

    .container-xxl {
        width: 1920px;
        max-width: 100%;
    }
}